*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: helvetica;
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin: 0;
    background-color: black;
}
header{
    border-bottom: 15px;
    padding: 10px;
}
main{
    margin-top: 50px;
}
.mainHeaderIndex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 20;
    top: 0;
}
.mainHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 20;
    top: 0;
    background-color: black;
}
.logo{
    height: 50px;
    text-align: center;
}
button.lupa,.menuHambur {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin: 0 5px;
}
.busqueda{
    display: none;
}

div.lupa-burger{
    color: white;
    width: 20%;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
}
a.link{
    display: none;
}
header{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    display: none;
    position: absolute;
    top: 24%;
}
.banner{
    display: none;
    width: 100%;
    position:sticky;
    top: 0px;
    z-index: 10;
}
main section{
    margin: 20px ;
}
h2.titular{
    margin:  5px;
    border-bottom: 1px solid #666;
    padding: 10px 0px;
}
img.indexImage{
    width: 100%;
}
img.indexNba{
    width: 100%;
    
    height: 80%;
    margin-top: 20px;
}
img.deporte{
    width: 100%;
    height: 100%;
}
img.nba{
    width: 100%;
    height: 80%;
    margin-top: 20px;
}
.contenedorArticulos{
    display: flex;
    flex-wrap: wrap;
}
.articulo{
    position: relative;
    width: 100%;    
    margin: 5px;
}
.articulo button{
    position: absolute;
    right: 1%;
    bottom: 1%;
}
button.ticket{
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: color, 2s;
}
article:hover button.ticket {
    background-color: #F8D12F;
    opacity: 0.5;
}
footer{
    padding: 10px;
    color: black;
    background-color: #F8D12F;
    border: 30px;
    border-top: 1px solid #666;
}
ul.pie{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}
footer div h4{
    font-size: 12px;
}
footer ul a{
    text-decoration: none;
    color: black;
}
p.copyright{
    font-size: 10px;
    align-self: center;
    margin: 20px 0;
}
h3.h3Register{
    color: white;
    margin: 10px 30px 0;
    font-weight:300;
    text-align: center;
}

.formulario{
    text-align: left;
    border: none;
    border-radius: 8px;
    margin: 10px 20%;
    background-color: #F8D12F;
    font-weight: 200;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center ;
}
 div.login{
    width: 38%;

 }
 div.recordarme{
    width: 38%;
    margin: 20px 0px;
 }
a.linkRegister{
    text-decoration: none;
    color: #F8D12F;
}
input#contrasena, #userName {
    border-radius: 3px;
    border: none;
    padding: 3px;
    width: 100%;
    margin:20px 0px ;
}

input#nombreUser,#email,#contra,#reContra{
    border-radius: 3px;
    border: none;
    padding: 3px;
    width: 100%;
    margin-bottom:20px;
    margin-top: 5px;
}
button.register{
    color: #F8D12F;
    padding: 5px;
    background-color: black;
    border-radius: 8px;
    width:38%;
    border: none;
    cursor: pointer;
}
div.or{
    margin: 10px 20px;
}
button.create{
    color: #F8D12F;
    padding: 5px;
    background-color: black;
    border-radius: 8px;
    width:38%;
    margin: 10px 20px;
    border: none;
    cursor: pointer;
}

/* estilando carrito */



.articuloCarrito{
    width: 100%;
    padding: 5px;
    position: relative;
    margin-bottom: 20px;
}
button.editButtonS{
    color: black;
    background-color: #F8D12F;
    border: none;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}
button.editButtonXL{
    display: none;
}
button.checkout{
    padding: 5px;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    text-align: center;
    width: 100%;
    cursor: pointer;
    transition: background-color 1s;
}
button.checkout:hover{
    background-color: #F8D12F;
}
div.descripcionProd{
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: black;

}

/*estilando detalle de productos*/

.banner-nba{
    width: 100%;
}

.banner-nba-title{
  font-size: 30; 
  margin-left: 32%;
  margin-top: 14%;
  color:#F8D12F;
  border: 3px white solid;  
  
}

.banner-tenis-title{
    font-size: 30; 
    margin-left: 29%;
    margin-top: 10%;
    color:#F8D12F;
    border: 3px white solid;  
    
  }

  .banner-mundial-title{
    font-size: 30; 
    margin-left: 30%;
    margin-top: 21%;
    color:#F8D12F;
    border: 3px white solid;  
    
  }

  .banner-libertadores-title{
    font-size: 30; 
    margin-left: 15%;
    margin-top: 12%;
    color:#F8D12F;
    border: 3px white solid;  
    
  }


.deporteproducts{

    display: flex;
    flex-wrap: wrap;
         
}

.deporte-nba{
    width: 100%;
    border: 3px white solid;
        }


.deporte-tenis {
    width: 90%;
    margin-left: 5%;
    border: 3px white solid;
        }

.deporte-mundial{
    width: 100%;
    border: 3px white solid;
                }

.articuloDescripcion{
    display: block;
    flex-direction: row;
    font-size: 16px;
    padding: 2%;
    width: 30%;
    height: 10%;
    border: 3px white solid;
    margin: auto;
  
    
}
        

.descripciones{
display: flex;
flex-direction: column;
}


div.descripcionLeft{
    padding: 5px;
    color: white;
    display: block;
    justify-content: flex-start;
}

div.descripcionRight{
    padding: 5px;
    color: white;
    display: block;
    justify-content: flex-end;

}


p.partido{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0px;
    color: #F8D12F;
}
p.ubicacion{
    font-size: 16px;
    margin: 10px 0px;
}

p.fecha{
    font-size: 16px;
    margin: 10px 0px;
}

p.valorTicket{
    font-size: 16px;
    margin-bottom: 5px;
}

.boton-comprar{

width: 60%;
background-color: transparent;
color: white;
padding: 6px 6px;
font-size: 16px;
border-color: white;
border-radius: 4px;
margin-top: 20px;
text-align: center;
transition: background-color 450ms;

}
    
.boton-comprar:hover{
    background-color: #F8D12F;
    color: black;
}

.icono-nba{
width: 5%;
margin-left: 21%;
margin-top: 5%;
position: absolute;
}

.icono-tenis{
    width: 6%;
    margin-left: 18%;
    margin-top: 5%;
    position: absolute;
    }

.icono-mundial{
    width: 9%;
    margin-left: 17%;
    margin-top: 4%;
    position: absolute;
    }





/*-------------Fin productDetail-------------------------*/


/*-------------Formulario de Editproducts-------------------------*/



.editproductitulo{
    font-size: large;
    color: white;
    margin: 10px 30px 0;
    text-align: center;
}

.editproduc{
    width: 38%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.editproducdescripcion{
    width: 38%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.editprodutsCategoria{
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10%;   
}

.editproductscategoriasdeportes{
    width: 38%;
    margin-top: 2px;
    margin-bottom: 15px;
 }







/*-------------Fin Formulario de Editproducts -------------------------*/


h3.titularesUP{
    color: #F8D12F;
    margin: 10px;
    padding: 5px;
}
h3.titularesPAST{
    color: white;
    margin: 5px;
    padding: 5px;
}
 button.uPcomingPast{
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}
div button.uPcomingPast:hover h3{ 
    border: white 1px solid;
    border-radius: 5px;
}

div.recordarme label{
    margin-left: 0px;
}
@media(min-width:481px){
    /* button.checkout{
        padding: 5px;
        color: black;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        border: none;
        text-align: center;
    } */
    button.editButtonS{
        display: none;
    }
    button.editButtonXL{
        display: block;
        color: black;
        background-color: #F8D12F;
        border: none;
        padding: 2px;
        cursor: pointer;
    }
    div.descripcionProd{
        width: 50%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    img.deporte{
        width: 50%;
        height: 100%;
        box-sizing: border-box;
    }
    img.nba{
        width: 50%;
        height: 80%;
        margin-top: 20px;
    }
    .articuloCarrito{
        display: flex;
    }
    img.banner{
        display: block;
    }
    h1{
        display:block;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        z-index: 11;
        letter-spacing: -0.01em;
    }
    .contenedorArticulos{
        justify-content: space-between;
    }
    article.articulo{
        width: 45%;  
    }
    .mainHeader{
        justify-content: space-around;
        align-items: center;
    }
    .mainHeaderIndex{
        justify-content: space-around;
        align-items: center;
    }
    div.lupa-burger{
        display: none;
    }
    p.nav {
        display: none;
    }
    .lupaIcon{
        color: black;
        align-self: flex-end;
        margin-left: 3px;
    }
    
    form.busqueda{
        display: flex;
        background-color: rgb(255, 255, 255);
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        width: 30%;
        padding: 3px;
    }
    input#buscador{
        margin: 0px 3px;
        outline: none;
        width: 100%;
        border: none;
        padding: 4px;
    }
    label.lupaLabel{
        margin: 0px 5px;
        padding: 2px;
        border-left: 1px solid #666;
    }
    p.nav{
        margin-right: 5px;
    }
    a.link i{
        margin-right: 4px;
    }
    .ticketIcon{
        rotate: 90deg;
    }
    a.link{
        display: flex;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    a.link:hover{
        color:#F8D12F;
    }
    
}
@media (max-width: 481px){
    ul.pie{
        display: block;
    }
    label.record{
        font-size: 10px;
    }

}
@media (min-width:769px){
    h1{
        font-family: 'Times New Roman', Times, serif;
        display: block;
        font-size: 45px;
        top: 20%;
    }
    .logo{
        height: 50px;
        width: 200px;
    }
    p.nav {
        display: block;
    }
    
    img.nbaCart{
        width: 100%;
    }
    section.mainCheckout{
        display: flex;
        margin: 0px;
    }
    .articulosCheckout{
        width: 70%;
    }
    .orderTotal{
        width: 30%;
    
    }
    } 

    p.precio{
        text-align: end;
        width: 30%;
        margin-bottom: 20px;
    }
    section.orderTotal h2{
        margin-bottom: 10px;
    }
    .cajaCheckout{
        display: flex;
        flex-wrap: wrap;
    }
    section div:nth-child(3){
        border-top: 1px solid #666;
        padding-top: 2px;
    }
    div.cajaCheckout p:not(.precio){
        width: 70%;
        margin-bottom: 20px;
    }  


