<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body class="bodyRegister">
    <%- include('../partials/headerUsers')%>
    <%- include('../partials/mainRegister')%>
    <%- include('../partials/footer')%>
</body>
</html>