<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

<body>
    <%- include('../partials/header')%>

    <main>

        <img class="banner-nba" src="/static/images/Basketball/basketball-nba-banner.png" alt="NBA COURT">

            <div class="buttonUpcoming">
                <h3 class="titularesUP">UPCOMING - NBA PRE SEASON MATCHES</h3>
           </div>
    
            <section class="deporteproducts">
                     
    
                        <article class="articuloDescripcion">
                            
                            <img class="deporte-nba" src="/static/images/Basketball/basketball-nba-golden-vs-lakers.png" alt="Evento">
    
                            <div class="descripciones">

                                    
                                <div class="div.descripcionLeft">
                                    
                                    <img class="icono-nba" src="/static/images/Basketball/basketball-nba-logo-4.jpg" alt="icono_nba">
                                    <p class="partido">Golden State Warriors vs Lakers</p>
                                    <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Chase Center</p>
                                    <p class="fecha"><i class="fas fa-calendar-alt"></i> 19/10 (22:00hrs ARG)</p>
                                    
                                </div>
    
                                <div class="div.descripcionRight">
                                    
                                    <p class="valorTicket">Valor: $150</p>
                                    <p><i class="fas fa-ticket-alt"></i> Disponibilidad - 150 tickets </p>
                                    <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
                                    
                                
                                </div>

                            </div>

                        </article>
    
                        <article class="articuloDescripcion">
                            
                            <img class="deporte-nba" src="/static/images/Basketball/basketball-nba-knicks-vs-celtics.png" alt="Evento">
    
                            <div class="descripciones">
    
                                <div class="div.descripcionLeft">
                                    <img class="icono-nba" src="/static/images/Basketball/basketball-nba-logo-4.jpg" alt="icono_nba">
                                    <p class="partido">Boston Celtics vs New York Knicks</p>
                                    <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio TD Garden
                                    </p>
                                    <p class="fecha"><i class="fas fa-calendar-alt"></i> 26/06 (22:00hrs ARG)</p>
                                </div>
    
                                <div class="div.descripcionRight">
                                    <p class="valorTicket">Valor: $150</p>
                                    <p><i class="fas fa-ticket-alt"></i> Disponibilidad - 300 tickets </p>
                                    <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
                                </div>

                            </div>

                        </article>
          
                        <article class="articuloDescripcion">
                            
                            <img class="deporte-nba" src="/static/images/Basketball/basketball-nba-magic-vs-heat.png" alt="Evento">
    
                            <div class="descripciones">
    
                                <div class="div.descripcionLeft">

                                    <img class="icono-nba" src="/static/images/Basketball/basketball-nba-logo-4.jpg" alt="icono_nba">
                                    <p class="partido">Miami Heat vs Orlando Magic</p>
                                    <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio FTX Arena</p>
                                    <p class="fecha"><i class="fas fa-calendar-alt"></i> 19/10 (22:00hrs ARG)</p>
                                </div>
    
                                <div class="div.descripcionRight">
                                    <p class="valorTicket">Valor: $120</p>
                                    <p><i class="fas fa-ticket-alt"></i> Disponibilidad - 400 tickets </p>
                                    <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
                                </div>

                            </div>


                        </article>
    
                        
            </section>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>