<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <main>
        <div>
            <h1 class="banner-libertadores-title">KINGS OF FUTBOL EVENTS</h1>
            <img class="banner-nba" src="/static/images/Futbol/futbol-banner-libertadores.jpg" alt="libertadores">
        </div>

        <div class="buttonUpcoming">
            <h3 class="titularesUP">UPCOMING - COPA CONMEBOL LIBERTADORES MATCHES</h3>
        </div>

        <section class="deporteproducts">


            <article class="articuloDescripcion">

                <img class="deporte-mundial" src="/static/images/Futbol/futbol-boca-vs-corinthian.jpg"
                    alt="Evento">

                <div class="descripciones">


                    <div class="div.descripcionLeft">

                        <img class="icono-mundial" src="/static/images/Futbol/futbol-icono-copaLibertadores.jpg"
                            alt="icono_mundial">
                        <p class="partido">Boca Juniors vs Corinthians</p>
                        <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Alberto José Armando (La Bombonera)</p>
                        <p class="fecha"><i class="fas fa-calendar-alt"></i> 05/07 (21:30hrs ARG)</p>

                    </div>

                    <div class="div.descripcionRight">

                        <p class="valorTicket">Valor: $120</p>
                        <p><i class="fas fa-ticket-alt"></i> Disponibilidad - 5000 tickets </p>
                        <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>


                    </div>

                </div>

            </article>

            <article class="articuloDescripcion">

                <img class="deporte-mundial" src="/static/images/Futbol/futbol-talleres-vs-colon.jpg"
                    alt="Evento">

                <div class="descripciones">

                    <div class="div.descripcionLeft">
                        <img class="icono-mundial" src="/static/images/Futbol/futbol-icono-copaLibertadores.jpg"
                            alt="icono_mundial">
                        <p class="partido">Colon Santa Fe vs Talleres</p>
                        <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Brigadier Gral. Estanislao López</p>
                        <p class="fecha"><i class="fas fa-calendar-alt"></i> 06/07 (19:15hrs ARG)</p>
                    </div>

                    <div class="div.descripcionRight">
                        <p class="valorTicket">Valor: $120</p>
                        <p><i class="fas fa-ticket-alt"></i> Disponibilidad - 5000 tickets </p>
                        <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
                    </div>

                </div>

            </article>

            <article class="articuloDescripcion">

                <img class="deporte-mundial" src="/static/images/Futbol/futbol-river-vs-velez.jpg"
                    alt="Evento">

                <div class="descripciones">

                    <div class="div.descripcionLeft">

                        <img class="icono-mundial" src="/static/images/Futbol/futbol-icono-copaLibertadores.jpg"
                            alt="icono_mundial">
                        <p class="partido">River Plate vs Velez Sarsfield</p>
                        <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Monumental</p>
                        <p class="fecha"><i class="fas fa-calendar-alt"></i> 06/07 (21:30hrs ARG)</p>
                    </div>

                    <div class="div.descripcionRight">
                        <p class="valorTicket">Valor: $120</p>
                        <p><i class="fas fa-ticket-alt"></i> Disponibilidad - 5000 tickets </p>
                        <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
                    </div>

                </div>


            </article>


        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>