<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <main>

        <div>
            <h1 class="banner-mundial-title">KINGS OF FUTBOL EVENTS</h1>
            <img class="banner-nba" src="/static/images/Futbol/futbol-banner-mundial.jpg" alt="mundial-qatar">
        </div>

        <div class="buttonUpcoming">
            <h3 class="titularesUP">UPCOMING - ARGENTINA MATCHES</h3>
        </div>

        <section class="deporteproducts">


            <article class="articuloDescripcion">

                <img class="deporte-mundial" src="/static/images/Futbol/futbol-argentina-vs-arabiaSaudita.jpg"
                    alt="Evento">

                <div class="descripciones">


                    <div class="div.descripcionLeft">

                        <img class="icono-mundial" src="/static/images/Futbol/futbol-icono-mundial.jpg"
                            alt="icono_mundial">
                        <p class="partido">Argentina vs Arabia Saudita</p>
                        <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Internacional Khalifa</p>
                        <p class="fecha"><i class="fas fa-calendar-alt"></i> 21/11 (10:00hrs ARG)</p>

                    </div>

                    <div class="div.descripcionRight">

                        <p class="valorTicket">Valor: $150</p>
                        <p><i class="fas fa-ticket-alt"></i> Disponibilidad - 1000 tickets </p>
                        <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>


                    </div>

                </div>

            </article>

            <article class="articuloDescripcion">

                <img class="deporte-mundial" src="/static/images/Futbol/futbol-argentina-vs-mexico.jpg"
                    alt="Evento">

                <div class="descripciones">

                    <div class="div.descripcionLeft">
                        <img class="icono-mundial" src="/static/images/Futbol/futbol-icono-mundial.jpg"
                            alt="icono_mundial">
                        <p class="partido">Argentina vs Mexico</p>
                        <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Ras Abu Aboud</p>
                        <p class="fecha"><i class="fas fa-calendar-alt"></i> 23/11 (14:00hrs ARG)</p>
                    </div>

                    <div class="div.descripcionRight">
                        <p class="valorTicket">Valor: $150</p>
                        <p><i class="fas fa-ticket-alt"></i> Disponibilidad - 1000 tickets </p>
                        <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
                    </div>

                </div>

            </article>

            <article class="articuloDescripcion">

                <img class="deporte-mundial" src="/static/images/Futbol/futbol-argentina-vs-polonia.jpg"
                    alt="Evento">

                <div class="descripciones">

                    <div class="div.descripcionLeft">

                        <img class="icono-mundial" src="/static/images/Futbol/futbol-icono-mundial.jpg"
                            alt="icono_mundial">
                        <p class="partido">Argentina vs Polonia</p>
                        <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Al-Rayyan</p>
                        <p class="fecha"><i class="fas fa-calendar-alt"></i> 26/11 (10:00hrs ARG)</p>
                    </div>

                    <div class="div.descripcionRight">
                        <p class="valorTicket">Valor: $150</p>
                        <p><i class="fas fa-ticket-alt"></i> Disponibilidad - 1000 tickets </p>
                        <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
                    </div>

                </div>


            </article>


        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>