<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header')%>
    <main>
        
            <div class="buttonUpcoming">
                <h3 class="titularesUP">UPCOMING</h3>
           </div>
    
            <section class="deporteproducts">
                     
    
                        <article class="articuloDescripcion">
                            
                            <img class="deporte-nba" src="/static/images/Basketball/basketball-nba-logo-4.jpg" alt="Evento">
    
                            <div class="descripciones">
    
                                <div class="div.descripcionLeft">
                                    <p class="partido">Corinthians vs Boca Juniors</p>
                                    <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Arena de Sao Paulo
                                    </p>
                                    <p class="fecha"><i class="fas fa-calendar-alt"></i> 26/06 (21:30hrs ARG)</p>
                                </div>
    
                                <div class="div.descripcionRight">
                                    <p class="valorTicket">Valor: $70</p>
                                    <p><i class="fas fa-ticket-alt"></i> Disponibilidad - 5 tickets </p>
                                    <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
                             
                        </article>
    
                        <article class="articuloDescripcion">
                            
                            <img class="deporte-nba" src="/static/images/Basketball/basketball-nba-logo-4.jpg" alt="Evento">
    
                            <div class="descripciones">
    
                                <div class="div.descripcionLeft">
                                    <p class="partido">Corinthians vs Boca Juniors</p>
                                    <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Arena de Sao Paulo
                                    </p>
                                    <p class="fecha"><i class="fas fa-calendar-alt"></i> 26/06 (21:30hrs ARG)</p>
                                </div>
    
                                <div class="div.descripcionRight">
                                    <p class="valorTicket">Valor: $70</p>
                                    <p><i class="fas fa-ticket-alt"></i> Disponibilidad - 5 tickets </p>
                                    <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
                             
                        </article>
          
                        <article class="articuloDescripcion">
                            
                            <img class="deporte-nba" src="/static/images/Basketball/basketball-nba-logo-4.jpg" alt="Evento">
    
                            <div class="descripciones">
    
                                <div class="div.descripcionLeft">
                                    <p class="partido">Corinthians vs Boca Juniors</p>
                                    <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Arena de Sao Paulo
                                    </p>
                                    <p class="fecha"><i class="fas fa-calendar-alt"></i> 26/06 (21:30hrs ARG)</p>
                                </div>
    
                                <div class="div.descripcionRight">
                                    <p class="valorTicket">Valor: $70</p>
                                    <p><i class="fas fa-ticket-alt"></i> Disponibilidad - 5 tickets </p>
                                    <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
                             
                        </article>
    
                        
            </section>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>