<footer class="pie">
    <ul class="pie">
        <li class="textoFooter">
            <h4><a href="">Quienes somos</a></h4>
        </li>
        <li class="textoFooter">
            <h4><a href="">Soporte</a></h4>
        </li>
        <li class="textoFooter">
            <h4><a href="">Terminos de uso</a></h4>
        </li>
        <li class="textoFooter">
            <h4><a href="/products/createProducts">Crea tu evento</a></h4>
        </li>
    </ul>
    <p class="copyright">Copyright  ©KINGKET </p>
</footer>