<main class="registro">
    <div>
        <h3 class="h3Register">REGISTRATE</h3>
        <form action="/" method="post" class="formulario">
            <div class="login">
                <label for="nombreUser" class="registroUser">Nombre de usuario</label>
                <input type="text" name="nombreUser" id="nombreUser" required>
            </div>
            <div class="login">
                <label for="email" class="registroUser">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="login">
                <label for="contra" class="registroUser">Password</label>
                <input type="password" name="contrasena" id="contra" required minlength="8">
            </div>
            <div class="login">
                <label for="reContra" class="registroUser">Confirm password</label>
                <input type="password" name="reContrasena" id="reContra" required minlength="8">
            </div>
            
            <button type="submit" class="register">Registrarse</button>
            
        </form>

    </div>
</main>