<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

    <body>
        <%- include('../partials/header')%>
            <main>

                <img class="banner-nba" src="/images/Tenis/tenis-cancha2.jpg" alt="TENIS COURT">

                <div class="buttonUpcoming">
                    <h3 class="titularesUP">UPCOMING TENNIS MATCHES</h3>
                </div>

                <section class="deporteproducts">


                    <article class="articuloDescripcion">

                            <img class="deporte-detail" src="/images/Tenis/tenis-novac-vs-jannik.jpg"
                                alt="Evento">
                        <div class="descripcionProdDetail">

                                <!-- <img class="icono-tenis" src="/static/images/Tenis/tenis-wimbledon-logo.png"
                                    alt="icono_tenis"> -->
                                <p class="partido">Novoak Djokovic vs Jannik Sinner</p>
                                <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Londres, Inglaterra</p>
                                <p class="fecha"><i class="fas fa-calendar-alt"></i> 06/07 15hrs</p>

                                <p class="valorTicket">Starting at $200</p>
                                <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 5000 tickets
                                    <a href="/products/editProduct">
                                        <button class="editarEvento">editar</button>
                                    </a>
                                    <a href="">
                                        <button class="editarEvento">eliminar</button>
                                    </a>
                                    </p>
                            </div>
                            <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>

                    </article>

                    <article class="articuloDescripcion">

                        <img class="deporte-detail" src="/images/Tenis/tenis-nadal-vs-botic.jpg" alt="Evento">

                        <div class="descripcionProdDetail">

<!-- 
                                <img class="icono-tenis" src="/static/images/Tenis/tenis-wimbledon-logo.png"
                                    alt="icono_tenis"> -->
                                <p class="partido">Rafael Nadal vs Botic Van de Zandschulp</p>
                                <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Londres, Inglaterra</p>
                                <p class="fecha"><i class="fas fa-calendar-alt"></i> 07/07 15hrs</p>
                                <p class="valorTicket">Starting at $200</p>
                                <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 5000 tickets
                                    <a href="/products/editProduct">
                                        <button class="editarEvento">editar</button>
                                    </a>
                                    <a href="">
                                        <button class="editarEvento">eliminar</button>
                                    </a>
                                    </p>
                                
                            </div>
                            <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
                    </article>

                    <article class="articuloDescripcion">

                        <img class="deporte-detail" src="/images/Tenis/tenis-cristian-vs-alex.jpg" alt="Evento">

                        <div class="descripcionProdDetail">

                          

                                <!-- <img class="icono-tenis" src="/static/images/Tenis/tenis-wimbledon-logo.png"
                                    alt="icono_tenis"> -->
                                <p class="partido">Cristian Garin vs Alex de Minaur</p>
                                <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Londres, Inglaterra</p>
                                <p class="fecha"><i class="fas fa-calendar-alt"></i> 08/07 15hrs</p>
                         
                           
                                <p class="valorTicket">Starting at $200</p>
                                <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 5000 tickets
                                    <a href="/products/editProduct">
                                        <button class="editarEvento">editar</button>
                                    </a>
                                    <a href="">
                                        <button class="editarEvento">eliminar</button>
                                    </a>
                                    </p>
                            </div>
                            <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>

                    </article>
                    
                </section>

            </main>

            <%- include('../partials/footer') %>
    </body>

</html>