<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/headerIndex') %>
        <main>
            <section class="principal">
                <a href="/products/nba"><h2 class="titular">NBA</h2></a>
                 <div class="contenedorArticulos">
                    <article class="articuloDescripcion">

                        <img class="deporte-detail" src="/images/Basketball/basketball-nba-golden-vs-lakers.png"
                            alt="Evento">

                        <div class="descripcionProdDetail">

                                <p class="partido">Golden State Warriors vs Lakers</p>
                                <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Chase Center</p>
                                <p class="fecha"><i class="fas fa-calendar-alt"></i> 19/10 (22:00hrs ARG)</p>

                                <p class="valorTicket">Starting at $150</p>
                                <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 150 tickets </p>
                                
                                
                            </div>
                            <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>

                    </article>

                    <article class="articuloDescripcion">

                        <img class="deporte-detail" src="/images/Basketball/basketball-nba-knicks-vs-celtics.png"
                            alt="Evento">
                        <div class="descripcionProdDetail">

                            
                                <p class="partido">Boston Celtics vs New York Knicks</p>
                                <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio TD Garden
                                </p>
                                <p class="fecha"><i class="fas fa-calendar-alt"></i> 19/10 (22:00hrs ARG)</p>
                                <p class="valorTicket">Starting at $150</p>
                                <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 300 tickets </p>
                                
                                
                            </div>
                            <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
                    </article>


                    <article class="articuloDescripcion">

                        <img class="deporte-detail" src="/images/Basketball/basketball-nba-magic-vs-heat.png"
                            alt="Evento">

                        <div class="descripcionProdDetail">

                          
                                <p class="partido">Miami Heat vs Orlando Magic</p>
                                <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio FTX Arena</p>
                                <p class="fecha"><i class="fas fa-calendar-alt"></i> 19/10 (22:00hrs ARG)</p>
                          

                            
                                <p class="valorTicket">Starting at $120</p>
                                <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 400 tickets </p>
                                
                                
                            </div>
                            <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
                    </article>

                </div>
                
            </section>

            <section class="principal">
                <a href="/products/mundial"><h2 class="titular">MUNDIAL QATAR 2022</h2></a>
                
                <div class="contenedorArticulos">

                    <article class="articuloDescripcion">
                
                        <img class="deporte-detail" src="/images/futbol/futbol-argentina-vs-arabiaSaudita.jpg"
                            alt="Evento">
        
                            <div class="descripcionProdDetail">
        
                            
                            
                                <p class="partido">Argentina vs Arabia Saudita</p>
                                <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Internacional Khalifa</p>
                                <p class="fecha"><i class="fas fa-calendar-alt"></i> 21/11 - 21:00hrs</p>
        
                                <p class="valorTicket"> Starting at $150</p>
                                <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 1000 tickets </p>
                            </div>
                            <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
        
                    </article>

                    <article class="articuloDescripcion">

                        <img class="deporte-detail" src="/images/Futbol/futbol-argentina-vs-mexico.jpg"
                            alt="Evento">
        
                        <div class="descripcionProdDetail">
                                <p class="partido">Argentina vs Mexico</p>
                                <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Ras Abu Aboud</p>
                                <p class="fecha"><i class="fas fa-calendar-alt"></i> 23/11 - 21:00hrs</p>
                            
        
                         
                                <p class="valorTicket">Starting at $150</p>
                                <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 1000 tickets </p>
                        </div>
                            <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
        
                       
        
                    </article>

                    <article class="articuloDescripcion">

                        <img class="deporte-detail" src="/images/Futbol/futbol-argentina-vs-polonia.jpg"
                            alt="Evento">
        
                        <div class="descripcionProdDetail">
        
        <!-- 
                                <img class="icono-mundial" src="/static/images/Futbol/futbol-icono-mundial.jpg"
                                    alt="icono_mundial"> -->
                                <p class="partido">Argentina vs Polonia</p>
                                <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Al-Rayyan</p>
                                <p class="fecha"><i class="fas fa-calendar-alt"></i> 26/11 - 21:00hrs</p>
        
                                <p class="valorTicket">Starting at $150</p>
                                <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 1000 tickets </p>
                                
                            </div>
                            <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
        
        
                    </article>
                   

                </div>
                
            </section>

            <section class="principal">
                <a href="/products/tennis"><h2 class="titular">WIMBLEDON</h2></a>
                
                <div class="contenedorArticulos">

                    <article class="articuloDescripcion">

                        <img class="deporte-detail" src="/images/Tenis/tenis-novac-vs-jannik.jpg"
                            alt="Evento">
                    <div class="descripcionProdDetail">

                            <!-- <img class="icono-tenis" src="/static/images/Tenis/tenis-wimbledon-logo.png"
                                alt="icono_tenis"> -->
                            <p class="partido">Novoak Djokovic vs Jannik Sinner</p>
                            <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Londres, Inglaterra</p>
                            <p class="fecha"><i class="fas fa-calendar-alt"></i> 06/07 15hrs</p>

                            <p class="valorTicket">Starting at $200</p>
                            <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 50 tickets </p>
                            
                        </div>
                        <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>

                </article>

                <article class="articuloDescripcion">

                    <img class="deporte-detail" src="/images/Tenis/tenis-nadal-vs-botic.jpg" alt="Evento">

                    <div class="descripcionProdDetail">

<!-- 
                            <img class="icono-tenis" src="/static/images/Tenis/tenis-wimbledon-logo.png"
                                alt="icono_tenis"> -->
                            <p class="partido">Rafael Nadal vs Botic Van de Zandschulp</p>
                            <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Londres, Inglaterra</p>
                            <p class="fecha"><i class="fas fa-calendar-alt"></i> 07/07 15hrs</p>
                            <p class="valorTicket">Starting at $200</p>
                            <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 50 tickets </p>
                            
                            
                        </div>
                        <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
                </article>

                <article class="articuloDescripcion">

                    <img class="deporte-detail" src="/images/Tenis/tenis-cristian-vs-alex.jpg" alt="Evento">

                    <div class="descripcionProdDetail">

                      

                            <!-- <img class="icono-tenis" src="/static/images/Tenis/tenis-wimbledon-logo.png"
                                alt="icono_tenis"> -->
                            <p class="partido">Cristian Garin vs Alex de Minaur</p>
                            <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Londres, Inglaterra</p>
                            <p class="fecha"><i class="fas fa-calendar-alt"></i> 08/07 15hrs</p>
                       
                            <p class="valorTicket">Starting at $200</p>
                            <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 50 tickets </p>
                            
                            
                        </div>
                        <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>


                </article>
                   

                </div>
                
            </section>

            <section class="principal">
                <a href="/products/libertadores"><h2 class="titular">COPA LIBERTADORES DE AMERICA</h2></a>
                
                <div class="contenedorArticulos">

                    <article class="articuloDescripcion">

                        <img class="deporte-detail" src="/images/futbol/futbol-boca-vs-corinthian.jpg"
                            alt="Evento">
        
                        <div class="descripcionProdDetail">
        
                                <p class="partido">Boca Juniors vs Corinthians</p>
                                <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Alberto José Armando (La Bombonera)</p>
                                <p class="fecha"><i class="fas fa-calendar-alt"></i> 05/07 - 21:00hrs</p>
        
                                <p class="valorTicket">Starting at $120</p>
                                <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 5000 tickets </p>
                                
                        </div>
                            <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
        
                    </article>
        

                    <article class="articuloDescripcion">

                        <img class="deporte-detail" src="/images/Futbol/futbol-talleres-vs-colon.jpg"
                            alt="Evento">
        
                        <div class="descripcionProdDetail">
        
                            
                                <p class="partido">Colon Santa Fe vs Talleres</p>
                                <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Brigadier Gral. Estanislao López</p>
                                <p class="fecha"><i class="fas fa-calendar-alt"></i> 06/07 - 21:00hrs</p>
                            
                                <p class="valorTicket">Starting at $120</p>
                                <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 5000 tickets </p>
                            
                                
                        </div>
                            <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
        
                    </article>


                    <article class="articuloDescripcion">

                        <img class="deporte-detail" src="/images/Futbol/futbol-river-vs-velez.jpg"
                            alt="Evento">
        
                        <div class="descripcionProdDetail">
        
                                <p class="partido">River Plate vs Velez Sarsfield</p>
                                <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Monumental</p>
                                <p class="fecha"><i class="fas fa-calendar-alt"></i> 06/07 - 21:00hrs</p>
        
                                <p class="valorTicket">Starting at $120</p>
                                <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 5000 tickets </p>
                                
                            </div>
                            <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
        
        
                    </article>
                    

                           

                </div>
                
            </section>


            <!-- <section class="principal">
                <h2 class="titular">UPCOMING EVENTS</h2>
                <div class="contenedorArticulos">
                    

                </div>
            </section> -->
            
        </main>
        <%- include('../partials/footer')%>
    </body>
</html>