<main class="registro">
       
    <div>
        <h3 class="h3Register">LOGIN</h3>
        
        <form action="/" method="post" class="formulario">

                <div class="login">
                    <input type="text" name="userName" id="userName" placeholder="Nombre de usuario" required minlength="3" maxlength="15" class="Control-input-login">
                </div>

                <div class="login">
                    <input type="password" name="Contraseña" id="contrasena" placeholder="Contraseña" required minlength="8" class="Control-input-login">
                </div>
                <div class="recordarme">
                    <input type="checkbox" name="recordar" id="recordar">
                    <label for="recordar" class="record">Recordarme</label>
                </div>
        
               <button type="submit" class="register"><strong>Ingresar a KingKet</strong></button>
           
           
        </form>
        <div class="formulario">
            <div class="or">
                Aun no tienes cuenta?
            </div>
            
            <button class="register" href="/register" > <a class="linkRegister" href="/register">   Crear cuenta</a> </button>

        </div>
        

    </div>
</main>