<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body class="bodyRegister">
    <%- include('../partials/headerUsers')%>
    
    <main class="registro">
    
        <div>
            <p class="editproductitulo">CREA TU EVENTO DEPORTIVO</p>
            
            <form action="/" method="post" class="formulario">
                
                <div class="newProduct">
                    <label for="competencia" >Competencia</label>
                    <input type="text" name="competencia" id="competencia" required>
                </div>
                <div class="newProduct">
                    <label for="oponentes" >Oponentes</label>
                    <input type="text" name="oponentes" id="oponentes" required>
                </div>
                <div class="newProduct">
                    <label for="descripcionEvento" >Descripcion del Evento</label>
                    <textarea name="descripcionEvento" id="descripcionEvento" cols="30" rows="5"></textarea>
                </div>

                <div class="newProduct">
                    <label for="imageEvent">Foto del Producto:</label>
                    <input type="file" name="image" accept=".jpg" required id="imageEvent" >
                </div>

                
                <div class="newProduct">
                    <label for="categoria" class="category">Categoria del Producto:</label>
                    <div class="cajaSubCategory">
                        <input type="radio" name="Deporte" value="Football" id="categoria">
                        <label for="categoria">Football</label>
                    </div>
                    <div class="cajaSubCategory">
                        <input type="radio"  name="Deporte" value="Basketball" id="categoria">
                        <label for="categoria">Basketball</label>
                    </div>
                    <div class="cajaSubCategory">
                        <input type="radio"  name="Deporte" value="Tennis" id="categoria">
                        <label for="categoria">Tennis</label>
                    </div>
                </div>

                <div class="newProduct">
                    <label for="precioEvento" >Precio del Evento</label>
                    <input type="text" name="precio" id="precioEvento" required>
                </div>
                
                <button type="submit" class="confirmProd">Confirmar</button>
                
            </form>
    
        </div>
    </main>

    <%- include('../partials/footer')%>
</body>
</html>




