<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <main>

       
        <img class="banner-nba" src="/static/images/Futbol/futbol-banner-mundial.jpg" alt="mundial-qatar">
       
        <h3 class="titularesUP">UPCOMING - ARGENTINA MATCHES</h3>
        <!-- <img class="icono-mundial" src="/static/images/Futbol/futbol-icono-mundial.jpg" alt="icono_mundial"> -->

        
        

        <section class="deporteproducts">


            <article class="articuloDescripcion">
                
                <img class="deporte-detail" src="/images/futbol/futbol-argentina-vs-arabiaSaudita.jpg"
                    alt="Evento">

                    <div class="descripcionProdDetail">

                    
                    
                        <p class="partido">Argentina vs Arabia Saudita</p>
                        <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Internacional Khalifa</p>
                        <p class="fecha"><i class="fas fa-calendar-alt"></i> 21/11 - 21:00hrs</p>

                        <p class="valorTicket"> Starting at $150</p>
                        <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 1000 tickets </p>
                    </div>
                    <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>

            </article>

            <article class="articuloDescripcion">

                <img class="deporte-detail" src="/static/images/Futbol/futbol-argentina-vs-mexico.jpg"
                    alt="Evento">

                <div class="descripcionProdDetail">
                        <p class="partido">Argentina vs Mexico</p>
                        <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Ras Abu Aboud</p>
                        <p class="fecha"><i class="fas fa-calendar-alt"></i> 23/11 - 21:00hrs</p>
                    

                 
                        <p class="valorTicket">Starting at $150</p>
                        <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 1000 tickets </p>
                </div>
                    <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>

               

            </article>

            <article class="articuloDescripcion">

                <img class="deporte-detail" src="/static/images/Futbol/futbol-argentina-vs-polonia.jpg"
                    alt="Evento">

                <div class="descripcionProdDetail">

<!-- 
                        <img class="icono-mundial" src="/static/images/Futbol/futbol-icono-mundial.jpg"
                            alt="icono_mundial"> -->
                        <p class="partido">Argentina vs Polonia</p>
                        <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> Estadio Al-Rayyan</p>
                        <p class="fecha"><i class="fas fa-calendar-alt"></i> 26/11 - 21:00hrs</p>

                        <p class="valorTicket">Starting at $150</p>
                        <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 1000 tickets </p>
                        
                    </div>
                    <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>


            </article>


        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>